<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Quiz Generator</title>
		<style>
*:focus {outline: 2px solid blue; outline-offset: 2px;}
		details {padding:3px;}
		</style>
		<link rel="stylesheet" type="text/css" href="/static/css/boxes.css" />
		<script type="text/javascript" src="/static/js/event1.js"><link rel="stylesheet" type="text/css" href="/static/css/style.css" /></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-89940905-27"></script>
<script src="/static/js/jquery-1.7.2.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/jquery.ui.touch-punch.min.js"></script>
<script src="/static/js/event1.js"></script>
<script src="/static/js/jquery.alerts.js"></script>
<link href="/static/js/jquery.alerts.css" rel="stylesheet" type="text/css" media="screen"><script type="text/javascript" src="/static/js/logging.js"></script>
</head>
    <body><div id='maincontentstyle'>
	<center>
		<div id='boxstyle'>
			<h3 id='title'><%=category%></h3>
				<center>
                    <div class='source'>
                        <!-- this loop adds the questions to the page -->
                        <% for(var i=1; i <= cards.length; i++) { %>
						<div id='s<%= i %>' class='draggyBox-small ui-draggable'>
							<%= cards[i-1].question %>
						</div>
                        <% } %>
					</div>
					</center>
					<table id='tablestyle'>
                        <!-- this loop adds the answers to the page -->
                        <% for(var i=1; i <= cards.length; i++) { %>
                        <tr>
                            <td id='row<%= i %>'>
                                <div id='t<%= i %>' class='ltarget ui-droppable'></div>
                            </td >
                            <td id='d<%= i %>'>
                                <%= cards[i-1].answer %>
                            </td >
                        </tr>
                        <% } %>
					</table>
				</center>
            </div>
        </center>
    </div><span style="padding: 3px"> 
        <button id ="<%=category%>" class="button" type="button"><a href="/topics/<%=category%>"><%=category%></a></button> 
        <button id ="one" class="button" type="button" onClick="show_answer()">Show Answer</button> 
        <button id = "resetButton" class="button" type="button" onClick="reset()">Reset</button>
    </span>
    <span id="audio" style="">
    <a href="" title="Turns Text-to-Speech Output On or Off" class="menulink" style="text-decoration: none;">
        <img id="bg" src="/static/images/audioOff.png" height="30" width="30" style="margin-bottom:-10px; padding-bottom:-20px;"></a>
    </span>
		
</body>
</html>
<script type="text/javascript">
rand = Math.random();

$(init);
$( window ).unload(function() {
    removeStorage.removeItem("someVarKey1");
});
function reset() {  
    var someVarName = true;sessionStorage.setItem("someVarKey1", someVarName);window.location.reload();
}
function init() {	
    document.getElementById('resetButton').style.display = 'none';
    document.getElementById("resetButton").style.visibility = "hidden";
    if (false && sessionStorage.getItem("someVarKey1"))$("#one").focus();
    // This will add the indicies for the questions and answers.
    var numbers = [<% for(var i=1; i <= cards.length; i++) { %><%= i %>,<% } %>];
    // TODO: implement shuffling 
    // numbers = shuffle(numbers);
    initialize(numbers);
}
// Use this method as a starting point for figuring out the shuffling method
function shuffle(a){
        for(let j,i=a.length;i>1;){
         j=Math.floor(rand*i--);
            if (i!=j) { 
                [a[i],a[j]]=[a[j],a[i]];
            }
        }
        return a
}
</script>  
<script>  
answer = "<% for(var i=0; i < cards.length; i++) { %><%= cards[i].question %>:<%= cards[i].answer %><% } %>";  
function show_answer() {	  
    jAlert(answer, 'Correct Match');  
}
</script> 
<script type="text/javascript" src="/static/js/GetElementPosition3.js">

</script> 
<script>    
$(function(){  
    if ('speechSynthesis' in window) {    
        speechSynthesis.onvoiceschanged = function() {      
            var $voicelist = $('#voices');      
            if($voicelist.find('option').length == 0) {        
                speechSynthesis.getVoices().forEach(function(voice, index) {          
                        var $option = $('<option>').val(index).html(voice.name + (voice.default ? ' (default)' :''));          
                        $voicelist.append($option);        
                    });        
                    $voicelist.form_select();      
                }    
            }  
        } 
    });     

audioOn = false;

$(function() {
    $('.menulink').click(function(){  
        if (audioOn) {	$("#bg").attr('src',"/static/images/audioOff.png");  	
        audioOn = false;  }  else {	$("#bg").attr('src',"/static/images/audioOn.png");	
        audioOn = true; speak(" ");  }  return false;
        });
    }); 
</script>   